.container{
    width: 100%;
}

#logo{
    height:200px;
    width:200px;
    margin-top:100px;
}

#page-header{
    padding: 20px;
    height: 570px;
    background-color: #ffd54f ;
}

#page-header h1{
    text-align: center;
    margin-top: 0px;
    font-weight: bolder;
    
}

#page-header h4{
    text-align: center;
}


.parallax-container {
      height: 400px;
}

#about-us{
    background-color: #ffd54f ;
    height: 640px;
}

#about-us #text p{
    text-align: justify
}
#about-us #text{
    padding: 50px;
    float: right;
    width: 75%;
}

#developers{
    padding: 10px;
    width: 25%;
    height: 100%;
    float: left;
    background-color: #ffd54f ;
    overflow: scroll;
}

#developers img{
    margin-top: 10px;
    width: 70%;
}

#developers #card{
    margin-left: 10px;
}


footer{
    height: 60px;
    padding: 20px;
}