html{
	overflow:hidden;
}

.small{
	height:50px;
	width:50px;
	margin-top:10px;
	margin-left:-50px;
}

.white{
	color:white;
}

#brand{
	font-size:32px;
	
}

.valign{
	vertical-align:center;
}

.main-nav{
	height:70px;
	background-color:#009688;
	font-weight:bolder;
}

.main-nav h2{
	color:white;
	margin-left:-30px;
}

#side-forms{
	height:640px;
}

#side-forms div{
	margin-top:30px;
	margin-bottom:30px;
}

#top-items{
	overflow:auto;
	max-height:300px;
}

.list-group .list-group-item{
	opacity:0.7;

}

.list-group .list-group-item:hover{
	opacity:1;
	background-color:#b0bec5;
}
#map{
	position:relative;
	height:540px;
}
.overlay{
display:block;
  text-align:center;
  color:#fff;
  font-size:12px;
  opacity:0.8;
  background:#f44336;
  border:solid 3px #d32f2f;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0px;

}