html{
	overflow:hidden;
}

.main-nav{
	height:70px;
	background-color:#009688;
}

.main-nav h2{
	color:white;
	margin-left:-30px;
}

#side-forms{
	height:540px;
}

#side-forms div{
	margin-top:30px;
	margin-bottom:30px;
}

#top-items{
	overflow:auto;
	max-height:300px;
}

.list-group .list-group-item{
	opacity:0.7;

}

.list-group .list-group-item:hover{
	opacity:1;
	background-color:#b0bec5;
}